@model RIPASTOP.Models.StatusMessage_JSON_vw

<div>
    <h4>StatusMessage_JSON_vw</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StopStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StopStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StopID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
