<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RIPA Stop - AB953</title>
    <link rel="icon" href="~/Content/favicon.ico" type="image/x-icon">
    <meta name="format-detection" content="telephone=no">

    <link href="~/Content/light.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

    
    <script src="~/Scripts/react/react.js"></script>
    <script src="~/Scripts/react/react-dom.js"></script>
    @*<script src="~/Scripts/store.everything.min.js"></script>*@
   
</head>
<body>
    <div class="navbar">
        <ul>
            <li><img src="~/Content/RIPAdark.png" /></li>
            <li>@Html.ActionLink("Home", "Index", "Home", null, null)</li>
            @if (@ViewBag.UserProfileID != null)
            {
                <li>@Html.ActionLink("User", "Edit", "UserProfiles", new { id = @ViewBag.UserProfileID }, null)</li>
                <li>@Html.ActionLink("Stops", "Index", "Stops", null, null)</li>
            }
            <li><div id="theme"></div></li>
            <li>
                <span style="top:-2px;" class='required'>
                    @if (@ViewBag.debug){ <text>dev</text> } else { <text>test</text> }
                </span>
             </li>
        </ul>
    </div>
    <script src="@Url.Content("~/Scripts/react/Theme.jsx")"></script>
    <div class="body-content">        
        @RenderBody()
    </div>
    <footer>
        @*<p>&copy; @DateTime.Now.Year - San Diego County Sheriff's Department, Data Services Division</p>*@
    </footer>
    
</body>
</html>
