@model RIPASTOP.Models.StopChangeAudits

@{
    ViewBag.Title = "Audit Page";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@using (Html.BeginForm("Index", "StopsEdit", new { id = Model.StopID, submissionID = @ViewBag.submissionID, submissionEndDate = @ViewBag.submissionEndDate }, FormMethod.Post))*@
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="list-section">
        <h3>Edit Stop</h3>
        <p>Please enter a Stop ID to edit.</p>
        @Html.ValidationSummary(false, "", new { @class = "error-alert" })

        @Html.EditorFor(model => model.StopID, new { htmlAttributes = new { @class = "list-item", @onclick = "this.select()" } })
        <div class="list-item">
            @*<input type='checkbox' id="postSubRedact" name="postSubRedact" /><label>Post Submission Redaction</label>*@
            @Html.CheckBoxFor(x => x.postSubRedact)<label>Post DOJ Submission Edit</label>
            @*<div id="postSubRedact"></div>*@
        </div>

        <div class="button-container">
            <input type="submit" value="Submit" class="button-right" />
        </div>
        @if (@ViewBag.personCount != 0)
        {
            <h3>Stop ID #@Html.DisplayFor(model => model.StopID)</h3>
            <p>Please select the person you would like to edit. For general stop info updates, select any person.</p>
        }
        <div class="list-item-select">


            @for (int i = 0; i < @ViewBag.personCount; i++)
            {
                var personNum = i + 1;
                <a href="@Url.Action("Edit", "StopsEdit", new { stopid = @ViewBag.stopID, pid = @personNum, pidCount = @ViewBag.personCount, submissionId = @ViewBag.submissionID, submissionEndDate = @ViewBag.submissionEndDate, postSubRedact = Model.postSubRedact})" class="button-left">Person @personNum</a>
            }

        </div>
    </div>
    @*<script>
        $('#postSubRedact').change(function () {
            var postSubRedact = this.val();
            if (this.checked) {
                $.post(
                    '@Url.Action("postSubRedaction", "StopsEdit")', { StopId: @Model.StopID, postSubRedact: postSubRedact })
            }
        });
        //# sourceURL=postSubRedact.js
    </script>*@

}